In [ ]:
#Exercise Of List and Tuple.
#Student of Data Science

In [2]:
#Question 1 - Write a program to store 7 fruits name in a list entered by a user.

#Solutin

f1=input("Enter Fruit Name ")
f2=input("Enter Fruit Name ")
f3=input("Enter Fruit Name ")
f4=input("Enter Fruit Name ")
f5=input("Enter Fruit Name ")
f6=input("Enter Fruit Name ")
f7=input("Enter Fruit Name ")

lst=[f1,f2,f3,f4,f5,f6,f7]
print(lst)

Enter Fruit Name Mango
Enter Fruit Name Apple
Enter Fruit Name Kiwi
Enter Fruit Name Guava
Enter Fruit Name Coconut
Enter Fruit Name Orange
Enter Fruit Name watermelon
['Mango', 'Apple', 'Kiwi', 'Guava', 'Coconut', 'Orange', 'watermelon']

In [3]:
#Question 2 -  Write a program to accept marks of 6 students and display them in a scorted manner.


#Solution:


m1=input("Enter your marks")
m2=input("Enter your marks")
m3=input("Enter your marks")
m4=input("Enter your marks")
m5=input("Enter your marks")
m6=input("Enter your marks")

marks=[m1,m2,m3,m4,m5,m6]
marks.sort()
print(marks)

Enter your marks89
Enter your marks98
Enter your marks56
Enter your marks78
Enter your marks78
Enter your marks65
['56', '65', '78', '78', '89', '98']

In [9]:
#Question 3 - Check that a tupple cannot be changed in python.

#Solution

tup=('saurav','gaurav','ramesh')

In [10]:
type(tup)

tuple

In [1]:
tup[0]='Yashu'

NameError: name 'tup' is not defined

In [2]:
#Question 4 - Write a program a count the number of zeros in the following.
#    a = (7, 0, 8, 0, 0, 9)

#Solution-

a = (7, 0, 8, 0, 0, 9)
a.count(0)

3

In [3]:
#Question 5 - Write a python program to sum a list with 4 number ..

#Solution


c
sum=a[0]+a[1]+a[2]+a[3]

In [5]:
sum

22

In [11]:
#See another way

a=[2,8,9,3]
print(sum)

22

In [ ]:
#Basic Execise of Tuple and list
#Student of DataTrained- Saurav
#Data Scientist to be..
#Date-17-June-2022